---
const { title } = Astro.props;
import '../styles/global.css'; // <-- Importa Tailwind CSS aqui
---

<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot /> <!-- Aqui virá o conteúdo da página -->
  </body>
</html>
