---
// src/layouts/Base.astro
const { title = "Anax bonitao", description = "Blog sobre desenvolvimento web." } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
